.kaufman {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #1f1f1f;
}

.kaufman__triangle  {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  background-size: 877px 877px;
  height: 877px;
  width: 877px;
  right: -210px;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  justify-content: center;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 60px 0 40px 0;
  padding: 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.footer__column_content_info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}



.footer__author {
  margin: 18px 0;
  bottom: 0;
  line-height: 25px;
  font-size: 18px;
  color: white;
}

.footer__column-heading {
  margin: 0 0 20px 0;
}

.footer__column-heading_text {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__column-links:last-child {
  padding-bottom: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: .5;
  transition: .5s;
}

.footer__social-icon_space {
  padding-right: 10px;
}













.video {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
  position: relative;
  min-height: 430px;
}

.video__iframes {
  position: absolute;
  top: 173px;
}

.video__iframe {
  margin: 0;
  width: 515px;
  height: 316px;
}

.video__iframe:first-child {
  margin-right: 20px;
}



.khan {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.khan__container {
  width: 80%;
  margin-top: 105px;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0 0 68px;
  line-height: 1.15;
  font-size: 25px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
}

.khan__buy-link {
  align-self: flex-start;
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: .5;
  transition: .5s;
}

.resources {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
}

.resources__logo-zone {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 80px 0 217px;
}

.resources__link {
  display: flex;
  justify-content: center;
}

.resources__link:hover {
  opacity: .5;
  transition: .5s;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.header__square-pic_rotation {
  animation: rotation 20s linear infinite;
}

.kaufman__triangle_rotation {
  animation: rotation 20s linear infinite;
}
